.yellow-hover{
  display: none;
  position: absolute;;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  background: url(../img/worning.png) no-repeat;
  background-size: cover;
}

.explore:hover{
  background-color:#ffe600;
  color:#89898b;
}